{% load staticfiles %}

<html>
	<head>
		<title>App Museos Madrid (info museo)</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/museosMadrid.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster$subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>

		<div class="login-box">
  	 		<form action="/login" method="POST">
				{% csrf_token %}
       			<label for="id_username">Nombre de usuario: </label> <input id="id_username" name="username" type="text" /></br>
   				<label for="id_password">Contraseña: </label> <input id="id_password" name="password" type="password" /></br>
        		<button type="submit">Login</button>
        	</form>
		</div>
		<div class="page-menu">
			<p>Volver a la página de inicio: <a href="/">Inicio</a></p>
   			<p>Si quieres ver todos los museos: <a href="/museos">Todos</a></p>
   			<p>Si no tienes usuario: <a href="/register">¡REGISTRATE!</a></p>
		<div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			<div>
		</div>
	</body>
</html>
