{% load staticfiles %}

<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/museosMadrid.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster$subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>		
		<div>
			<h1>APP MUSEOS MADRID</h1>
		</div>
			<div class="todo">
    			<p>Si quieres ver todos los museos: <a href="/museos">Todos</a></p>
    			<p>About de la web: <a href="/about">About</a></p>
   				<p>Si no tienes usuario: <a href="/register">¡REGISTRATE!</a></p>
			</div>
	</body>
</html>

