

{% load staticfiles %}

<html>
	<head>
		<title>App Museos Madrid (info museo)</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/museosMadrid_base.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster$subset=latin,latin-ext" rel="stylesheet" type="text/css">

	</head>
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #FF0000;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
	<body>

		<div class="login-box">
  	 		<form action="/login" method="POST">
				{% csrf_token %}
       			<label for="id_username">Nombre de usuario: </label> <input id="id_username" name="username" type="text" /></br>
   				<label for="id_password">Contraseña: </label> <input id="id_password" name="password" type="password" /></br>
        		<button type="submit">Login</button>
        	</form>
		</div>

		<div class="logout-box">
			<form action="/logout" method="POST">
				{% csrf_token %}
				<button type="submit">Logout</button>
			</form>
		</div>

		<div class="log-comment">
			<p>Estás loggeado como: {{ request.user.username }}</p>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<div class="page-menu">
				<ul class="nav navbar-nav navbar">
   					<li><a href="/museos">Todos</a></li>
					<li><a href="/{{ request.user.username }}">Página personal</a></li>
					<li><a href="/about">About</a></li>
   					<li><a href="/register">¡REGISTRATE!</a></li>
				</ul>
			</div>
		</div>

		<div class="sidenav">

			<p><h2><b>[+] Listas de museos de otros usuarios:</b></h2></p>

		    {% for usuario in usuarios %}
			    <div class="listas-usuarios">
				    <p><a href="/{{ usuario.username }}">{{ usuario.titulo }} ({{ usuario.username }})</a></p>
	    		</div>
		    {% endfor %}

		</div>

		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					<div>
						<h1>APP MUSEOS MADRID</h1>
					</div>

					<div>
						<form action="/datos" method="GET">
							<button class="btn-cargar-museos" type="submit">Cargar Museos</button>
						</form>
					</div>

					<div>
						<form action="/accesibilidad" method="GET">
							<button class="btn-cargar-museos-accesibles" type="submit">Museos accesibles</button>
						</form>
					</div>

				</div>
			</div>

			<div>
		    	{% for museo in museos %}
				    <div class="museo">
					    <h3>{{ museo.nombre }}</h3>
					    <p><a href="/museos/{{ museo.museo_id |linebreaksbr }}">Mas informacion</a></p>
					    <p><a href="/museos/{{ museo.museo_id |linebreaksbr }}">Mas informacion</a></p>
	    			</div>
		    	{% endfor %}
			</div>

		</div>
		</br>

	<!--Footer--> <!--From: http://demo.tutorialzine.com-->
		<div id="footer-div">
			<footer id="myFooter">
						<div class="col-sm-3">
							<h5>Get started</h5>
							<ul>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h5>About us</h5>
							<ul>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h5>Support</h5>
							<ul>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<h5>Legal</h5>
							<ul>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
								<li><a href="#">LoremIpsum</a></li>
							</ul>
						</div>

					<a style="margin-left: 30px;" href="#">LoremIpsum</a>
			</footer>
		</div>		
	</body>
</html>

