    


{% extends 'museosMadrid/base.html' %}

	{% block content %}

		<div>
			<h4 style="display:inline">Puntuación del museo según votos de los usuarios: </h4>
			<h2 style="display:inline"> {{ m.puntuacion }}</h2>
			<form action="/museos/{{ m.museo_id }}/vote"><button type="submit">¡Vota [+1]!</button></form>
		</div>
		<p>-------------------------------------------------------------------------------</p>
		<div>
			<h1>Información del museo</h1>
		</div>
		<div>
            <ul>
			<li><p style="display:inline"><h3 style="display:inline">Museo ID: </h3>{{ m.museo_id }}</p></li>
			<li><p style="display:inline"><h3 style="display:inline">Nombre: </h3>{{ m.nombre }}</p></li>
			<li><p style="display:inline">Descripción: </p><h3 style="display:inline">{{ m.descripcion }}</h3></li>
			<li><p style="display:inline">Horario: </p><h3 style="display:inline">{{ m.horario}}</h3></li>
			<li><p style="display:inline">Transporte: </p><h3 style="display:inline">{{ mtransporte}}</h3></li>
			<li><p style="display:inline">Accesibilidad: </p><h3 style="display:inline">{{ m.accesibilidad}}</h3></li>
			<li><p style="display:inline">URL: </p><h3 style="display:inline">{{ m.url}}</h3></li>
			<li><p style="display:inline">Nombre Via: </p><h3 style="display:inline">{{ m.nombre_via}}</h3></li>
			<li><p style="display:inline">Clase Vial: </p><h3 style="display:inline">{{ m.clase_vial}}</h3></li>
			<li><p style="display:inline">Tipo Num: </p><h3 style="display:inline">{{ m.tipo_num}}</h3></li>
			<li><p style="display:inline">Localidad: </p><h3 style="display:inline">{{ m.localidad}}</h3></li>
			<li><p style="display:inline">Provincia: </p><h3 style="display:inline">{{ m.provincia}}</h3></li>
			<li><p style="display:inline">Codigo postal: </p><h3 style="display:inline">{{ m.codigo_postal}}</h3></li>
			<li><p style="display:inline">Barrio: </p><h3 style="display:inline">{{ m.barrio}}</h3></li>
			<li><p style="display:inline">Distrito: </p><h3 style="display:inline">{{ m.distrito}}</h3></li>
			<li><p style="display:inline">Tipo: </p><h3 style="display:inline">{{ m.tipo}}</h3></li>
			<li><p style="display:inline">Telefono: </p><h3 style="display:inline">{{ m.telefono}}</h3></li>
			<li><p style="display:inline">Email: </p><h3 style="display:inline">{{ m.email}}</h3></li>
			<li><p style="display:inline">Fax: </p><h3 style="display:inline">{{ m.fax}}</h3></li>
            </ul>
	<!--		<p><a href="/museos/{{ museo.museo_id |linebreaksbr }}">enlace</a></p>
	-->
		</div>
		<p>-------------------------------------------------------------------------------</p>

		<div>
			<form action="/boton_like" method="POST">
				{% csrf_token %}
				<input name="idmuseo" id="idmuseo" value= "{{ m.museo_id }}">
				<button class="btn-like" type="submit">¡Añadir a mi lista!</button>
			</form>
		</div>				

		<div>
			</br>
			<p><h2>Publique un comentario:</h2></p>
			<form action="/museos/{{ m.museo_id }}" method="POST">
				{% csrf_token %}
				<label for="comentario"></label><input name="comentario" type="text">
				<button type="submit">Comentar</button>
			</form>
		</div>
		<div>
			<p><h2>Comentarios:</h2></p>
			{% for comentario in comentarios_museo %}
				<div class="comentario">
					<!--<p>Comentario de {{ comentario.autor }}:</p>
					-->
					<p>[*]Anónimo dijo:</p>
					<p><h4>{{ comentario.texto |linebreaksbr }}</h4></p>
				</div>
			{% endfor %}
			</div>
			</br></br></br></br></br></br>


	{% endblock %}







