    


{% load staticfiles %}

<html>
	<head>
		<title>App Museos Madrid (info museo)</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/museosMadrid.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster$subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>		
		<div>
			<h1>Información del museo</h1>
		</div>

		<div class="todo">
			<p>Volver a la página de inicio: <a href="/">Inicio</a></p>
   			<p>Si quieres ver todos los museos: <a href="/museos">Todos</a></p>
   			<p>Si no tienes usuario: <a href="/register">¡REGISTRATE!</a></p>
		</div>

		<div>
			<p style="display:inline">Museo ID: </p><h3 style="display:inline">{{ museo.museo_id }}</h3></br>
			<p style="display:inline">Nombre: </p><h3 style="display:inline">{{ museo.nombre }}</h3></br>
			<p style="display:inline">Descripción: </p><h3 style="display:inline">{{ museo.descripcion }}</h3></br>
			<p style="display:inline">Horario: </p><h3 style="display:inline">{{ museo.horario}}</h3></br>
			<p style="display:inline">Transporte: </p><h3 style="display:inline">{{ museo.transporte}}</h3></br>
			<p style="display:inline">Accesibilidad: </p><h3 style="display:inline">{{ museo.accesibilidad}}</h3></br>
			<p style="display:inline">URL: </p><h3 style="display:inline">{{ museo.url}}</h3></br>
			<p style="display:inline">Nombre Via: </p><h3 style="display:inline">{{ museo.nombre_via}}</h3></br>
			<p style="display:inline">Clase Vial: </p><h3 style="display:inline">{{ museo.clase_vial}}</h3></br>
			<p style="display:inline">Tipo Num: </p><h3 style="display:inline">{{ museo.tipo_num}}</h3></br>
			<p style="display:inline">Localidad: </p><h3 style="display:inline">{{ museo.localidad}}</h3></br>
			<p style="display:inline">Provincia: </p><h3 style="display:inline">{{ museo.provincia}}</h3></br>
			<p style="display:inline">Codigo postal: </p><h3 style="display:inline">{{ museo.codigo_postal}}</h3></br>
			<p style="display:inline">Barrio: </p><h3 style="display:inline">{{ museo.barrio}}</h3></br>
			<p style="display:inline">Distrito: </p><h3 style="display:inline">{{ museo.distrito}}</h3></br>
			<p style="display:inline">Tipo: </p><h3 style="display:inline">{{ museo.tipo}}</h3></br>
			<p style="display:inline">Telefono: </p><h3 style="display:inline">{{ museo.telefono}}</h3></br>
			<p style="display:inline">Email: </p><h3 style="display:inline">{{ museo.email}}</h3></br>
			<p style="display:inline">Fax: </p><h3 style="display:inline">{{ museo.fax}}</h3></br>

	<!--		<p><a href="/museos/{{ museo.museo_id |linebreaksbr }}">enlace</a></p>
	-->
		</div>

		<div>
			</br>
			<p><h2>Publique un comentario:</h2></p>
			<form action="/museos/{{ museo.museo_id }}" method="POST">
				{% csrf_token %}
				<label for="comentario"></label><input name="comentario" type="text" />
				<button type="submit">Comentar</button>
			</form>
		</div>

	</body>
</html>


