{% load staticfiles %}

<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/museosMadrid.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Lobster$subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	<body>		
		<div>
    		<p>Volver al home: <a href="/">Inicio</a></p>
		</div>	

		<div>
			<h1>Registrar un nuevo usuario</h1>
		</div>
			<div class="museo">
          		<form action="http://127.0.0.1:8000/register" method"POST">
        			<label for="id_username">Nombre de usuario: </label> <input id="id_username" name="username" type="text" /></br>
     				<label for="id_password">Contraseña: </label> <input id="id_password" name="password" type="password" /></br>
      				<label for="id_email">Correo electronico: </label> <input id="id_email" name="email" type="text" /></br>
        			<button type="submit">Registrar</button>
        		</form>
			</div>
	</body>
</html>

